h1 {
    color: rgb(165, 42, 42);
}

/** {
    border: solid;
}*/

.header{
    background-color: rgb(95, 145, 160);
    text-align: center;

}

.feather{
    display: flex;
    justify-content: flex-end;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
